.submitted-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.mock-interview-container{
    background-color: #121212;
    color: white;
    height: 100vh;
}
.mock-interview-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 100px;
}
.mock-interview-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.timer-and-button-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}
.timer{
    font-size: 30px;
}
.submit-btn{
    background-color: #4f46e5;
  margin-top: 10px;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 7px;
  cursor: pointer;
}
.submit-btn:hover{
    background-color: transparent;
  border-style: solid;
  border-color: #4f46e5;
}
.question-card-holder{
    display: flex;
    justify-content: center;
    height: 80vh;
}
.question-card-container{
    background-color: #0c101a;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.477);
}
.question-heading-container{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.text-area{
    width: 100%;
    height: 440px;
    background-color: transparent;
    color: white;
}
