.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
  height: 85vh;
  padding: 30px;
  color: white;
}
@media screen and (min-width: 767px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    height: 100vh;
  }
}
.home-heading {
  font-size: 40px;
}

@media screen and (min-width: 767px) {
  .home-heading {
    font-size: 60px;
  }
}

.home-description {
  font-size: 20px;
}
@media screen and (min-width: 767px) {
  .home-description {
    font-size: 40px;
    max-width: 80vh;
  }
}
.find-jobs-button {
  background-color: #4f46e5;
  margin-top: 10px;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 7px;
  cursor: pointer;
}
.find-jobs-button:hover{
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: #4f46e5;
}
.challenge-card-container{
  background-image: url("https://freerangestock.com/sample/140360/abstract-technology-background--networks--faded-looks.jpg");
  background-size: cover;
  height: 200px;
  width: 400px;
  border-radius: 10px;
  padding: 5px;
  margin-top: 20px;
}
.challenge-heading{
  color: #1f17b0;
  font-family: "Caveat";
}