.bg-container {
  background-color: white;
  min-height: 100vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.platform-info{
  background-color: black;
  height: 100vh;
  width: 30vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding-left: 20px;
}
.form-main-container{
  background-image: url("https://res.cloudinary.com/dwj8ezxgi/image/upload/v1766660922/simply-soft-gradation-technology-background-free-vector_cxyxmk.jpg");
  background-size: cover;
  width: 70vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;;
}
.form-container {
  background-color: #ffffff76;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  height: 30vh;

  display: flex;
  flex-direction: column;
}
.website-form-logo {
  width: 20vh;
  align-self: center;
}
.input-container {
  margin-top: 20px;
}
input {
  border-radius: 4px;
  outline: none;
  margin-top: 3px;
}
.input-item {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.login-button {
  background-color: #4f46e5;
  margin-top: 10px;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}
.error-message {
  color: red;
}